.theme-white {
  background-color: white;
  color: #67676C; }

.theme-plum {
  background-color: #B7006C;
  color: #fff !important; }

.theme-faded-green {
  background-color: #E8F4DC;
  color: #4E8416; }

.theme-dark-grey {
  background: #414042; }

.theme-grey {
  background: #CBCDCE; }

.theme-dark-green {
  background: #4E8416; }

.text-dark-green {
  color: #4E8416 !important; }

.navbar-default .navbar-nav > li.theme-plum:hover > a {
  background: #550331;
  color: white !important;
  text-decoration: underline; }

.navbar-nav li.theme-plum a {
  color: white; }

.page {
  padding-top: 50px; }
  .page img {
    max-width: 100%; }
