.w3-theme-l5 {
  color: #000 !important;
  background-color: #edffeb !important; }

.w3-theme-l4 {
  color: #000 !important;
  background-color: #c3ffbd !important; }

.w3-theme-l3 {
  color: #000 !important;
  background-color: #88ff7a !important; }

.w3-theme-l2 {
  color: #000 !important;
  background-color: #4cff38 !important; }

.w3-theme-l1 {
  color: #fff !important;
  background-color: #18f500 !important; }

.w3-theme-d1 {
  color: #fff !important;
  background-color: #10a100 !important; }

.w3-theme-d2 {
  color: #fff !important;
  background-color: #0e8f00 !important; }

.w3-theme-d3 {
  color: #fff !important;
  background-color: #0c7d00 !important; }

.w3-theme-d4 {
  color: #fff !important;
  background-color: #0b6b00 !important; }

.w3-theme-d5 {
  color: #fff !important;
  background-color: #095900 !important; }

.w3-theme-light {
  color: #000 !important;
  background-color: #edffeb !important; }

.w3-theme-dark {
  color: #fff !important;
  background-color: #095900 !important; }

.w3-theme-action {
  color: #fff !important;
  background-color: #095900 !important; }

.w3-theme {
  color: #fff !important;
  background-color: #12b300 !important; }

.w3-text-theme {
  color: #12b300 !important; }

.w3-border-theme {
  border-color: #12b300 !important; }

.w3-hover-theme:hover {
  color: #fff !important;
  background-color: #12b300 !important; }

.w3-hover-text-theme {
  color: #12b300 !important; }

.w3-hover-border-theme:hover {
  border-color: #12b300 !important; }

.logo {
  color: #12b300; }

.carousel-control.left, .carousel-control.right, .carousel-control.left, .carousel-control.right {
  color: #12b300; }

footer .glyphicon-chevron-up {
  color: #12b300; }

.carousel-indicators li {
  border-color: #10a100; }
  .carousel-indicators li.active {
    background: #10a100; }

#services i {
  color: #0e8f00; }

.navbar li.active a {
  color: #10a100 !important; }

.navbar li:hover a {
  color: #10a100 !important; }

.btn-primary.log {
  background-color: #4cff38;
  color: #10a100; }
