$humana-plum: #B7006C;
$humana-grey: #CBCDCE;
$humana-dark-grey: #414042;
$humana-green: #87C546;
$humana-dark-green:#4E8416;
$humana-faded-green: #E8F4DC;

.theme-white{background-color: white; color: #67676C;}
.theme-plum{background-color: $humana-plum; color: #fff!important;}
.theme-faded-green{background-color: $humana-faded-green; color: $humana-dark-green;}
.theme-dark-grey{background: $humana-dark-grey;}
.theme-grey{background: $humana-grey;}
.theme-dark-green{background: $humana-dark-green;}

.text-dark-green{color:$humana-dark-green!important;}

.navbar-default .navbar-nav>li.theme-plum:hover >a{
  background: rgb(85, 3, 49);
  color: white !important;
  text-decoration: underline;
}

.navbar-nav li.theme-plum a{
  color:white;
}

.carousel-control.left, .carousel-control.right{
  color:$humana-dark-green;
}
.carousel-indicators li{
  &.active{
    background: $humana-dark-green;
  }
  border-color: $humana-dark-green;
}

#contact{
  ul{
    list-style-type: none;
  }
}
